doctype html
html
  head
    title= title
  body
    a(href="/users") users

    h1 Home

  script(type='text/javascript' src='assets/librairies.js')
  script(type='text/javascript' src='assets/application.js')