doctype html
html
  head
    title= title
  body
    a(href="/") home

    h1#BirdC Users2

    div#formC
    div#modalC

  script(type='text/javascript' src='assets/librairies.js')
  script(type='text/javascript' src='assets/application.js')
