doctype html
html
  head
    title= title
  body
    include ../header/menu.jade
    p I want to find a court in
    button My club
    button My city


  script(type='text/javascript' src='assets/librairies.js')
  script(type='text/javascript' src='assets/application.js')
